@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    padding: 0;

    --backgroundcolor : #212121;
    --textcolor : #FBF5E5;
    --accentcolor : #3D3D3D;
    --lightpurple : #C890A7;
}